@font-face {
    font-family: Rubik;
    src: url("../assets/fonts/Rubik/static/Rubik-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Rubik;
    src: url("../assets/fonts/Rubik/static/Rubik-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Rubik;
    src: url("../assets/fonts/Rubik/static/Rubik-Light.ttf");
    font-weight: 100;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-medium);
    background-color: #faf8f0;
    font-family: "Roboto", Arial, system-ui, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 75%;
    height: 56px;
    padding: var(--padding-medium);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.menu{
    height: 54px;
    justify-self: start;
    padding: var(--padding-medium);
    display: flex;
    gap: var(--padding-medium);
    align-items: center;
    color: var(--color-menu);
    background-color: transparent;
}

.menu:hover{
    background-color: #e0dad1;
    border-radius: var(--border-radius-medium);
}

.menu__icon{
    height: 24px;
    width: 24px;
}

.menu__title {
    font-weight: 700;
    color: var(--color-menu);
}

.menu__title-large{
    font-size: 48px;
}

.menu__title-small{
    display: none;
    font-size: 30px;
}

.gamestatus{
    justify-self: center;
    display: flex;
    gap: var(--padding-medium);
    user-select: none;
}

.gamestatus__score-container{
    padding: var(--padding-small) var(--padding-medium);
    border-radius: var(--border-radius-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.gamestatus__score-title {
    font-size: var(--font-size-small);
}

.gamestatus__score-number {
    font-size: var(--font-size-large);
    font-weight: 700;
}

.gamestatus__highscore-container{
    padding: var(--padding-small) var(--padding-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-secondary);
    border-radius: var(--border-radius-medium);
    color: var(--color-primary);
}

.gamestatus__highscore-title {
    font-size: var(--font-size-small);
}

.gamestatus__highscore-number {
    font-size: var(--font-size-large);
    font-weight: 700;
}

.utilities{
    justify-self: end;
    display: flex;
    gap: var(--padding-medium);
    align-items: center;
}

.utilities__feedback-link {
    font-weight: 400;
    text-decoration: none;
    color: var(--color-primary);
}

.utilities__feedback-link:hover {
    text-decoration: underline;
}

.utilities__newgame-container{
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    color: var(--color-button-background);
    background-color: var(--color-primary);
}

.utilities__newgame-text {
    font-weight: 100;
}

.utilities__newgame-icon {
    height: 24px;
    height: 24px;
    display: none;
}

main {
    padding: var(--padding-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    margin: 0 auto;
    width: 450px;
    height: 450px;
    display: grid;
    gap: var(--padding-small);
    padding: var(--padding-small);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: var(--border-radius-medium);
    background-color: var(--color-primary);
}

.bord__item {
    background-color: var(--color-tile-lvl0);
    border-radius: var(--border-radius-small);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bord__item--lvl1 {
    color: var(--color-tile-font-dark);
    background-color: var(--color-tile-lvl1);
}

.bord__item--lvl2 {
    color: var(--color-tile-font-dark);
    background-color: var(--color-tile-lvl2);
}

.bord__item--lvl3 {
    color: var(--color-tile-font-light);
    background-color: var(--color-tile-lvl3);
}

.bord__item--lvl4 {
    color: var(--color-tile-font-light);
    background-color: var(--color-tile-lvl4);
}

.bord__item--lvl5 {
    color: var(--color-tile-font-light);
    background-color: var(--color-tile-lvl5);
}

.bord__item--lvl6 {
    color: var(--color-tile-font-light);
    background-color: var(--color-tile-lvl6);
}

.bord__item--lvl7 {
    color: var(--color-tile-font-light);
    background-color: var(--color-tile-lvl7);
}

.board__item-number {
    font-size: var(--font-size-extra-large);
}

.actions {
    width: fit-content;
    padding: var(--padding-medium);
    margin-top: var(--padding-large);
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--padding-small);
    background-color: var(--color-secondary);
}

.action__button-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    align-items: center;
}

.action__button-group {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-action-primary);
}

.action__button-group--active {
    background-color: var(--color-primary);
}

.action__dotdot-icon {
    width: 45px;
}

footer{
    display: flex;
    justify-content: center;
    color: var(--color-footer-primary);
    padding-bottom: var(--padding-large);
}

@media screen and (max-width: 1024px) {
    .utilities__feedback-container {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        gap: var(--padding-extra-small);
    }

    .menu {
        height: fit-content;
        padding: var(--padding-small);
    }

    .menu__title-large {
        display: none;
    }

    .menu__title-small{
        display: block;
    }

    .navbar {
        width: 100%;
        height: fit-content;
        padding: var(--padding-small);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .menu__title-small {
        justify-self: center;
        grid-column: 2/3;
    }

    .utilities__newgame-container {
        padding: var(--padding-small);
        background-color: transparent;
    }

    .utilities__newgame-text {
        display: none;
    }

    .utilities__newgame-icon {
        display: block;
    }

    .gamestatus {
        width: 100%;
        grid-column: 1/4;
        grid-row: 2/3;
        gap: var(--padding-small);
    }

    .gamestatus__score-container {
        width: 50%;
    }

    .gamestatus__highscore-container {
        width: 50%;
    }

    main{
        padding: var(--padding-small);
    }

    .actions {
        margin-top: var(--padding-medium);
    }
}

@media screen and (max-width: 640px) {
    .gamestatus__score-container {
        height: fit-content;
        padding: var(--padding-small);
        flex-direction: row;
        justify-content: space-between;
    }

    .gamestatus__highscore-container {
        height: fit-content;
        padding: var(--padding-small);
        flex-direction: row;
        justify-content: space-between;
    }

}
    