* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}